#!/usr/bin/env nextflow

//cleanup = true

/*
------------------------------------------------------------------------------------------------------------
			 adrienlemeur/genotube
------------------------------------------------------------------------------------------------------------
	Genotube Analysis Pipeline. Started on 12-11-2021

	#### Homepage / Documentation
	https://github.com/adrienlemeur/genotube-td

	#### Authors
	Adrien Le Meur

	#### Devs
	Adrien Le Meur
	Fiona Hak

	with the help of :
	Guislaine Refrégier
	Rimma Zein Eddine
------------------------------------------------------------------------------------------------------------
*/

manifest {
	name =				'Genotube'
	author = 			'Adrien Le Meur'
	homePage = 			'https://github.com/adrienlemeur/genotube-td'
	description = 			'A mapping-based pipeline for building a phylogeny from bacterial whole genome sequences'
	mainScript = 			'main.nf'
	nextflowVersion = 		'!>=21.04.0'
	version = 			'Washed Ashore'
}

//for now, only local execution is supported
report {
	enable = 			false
}

executor {
	cpus =				'14'
	memory =			'20GB'
}

params {
	help =				false
	dry =				false

	results =			"results"
	data =				"data"

//	referenceSequence = "data/mtuberculosis/genomes/reference/H37Rv.fa.gz"
//	referenceAnnotation = "data/mtuberculosis/genomes/reference/H37Rv.gff.gz"
	referenceSequence =		"data/reference_genomes/mycobacterium_tuberculosis/MTBC_ancestor.fa.gz"
	referenceAnnotation =		"data/reference_genomes/mycobacterium_tuberculosis/MTBC_ancestor.gff.gz"
	target_region =		false

	multiqc_config =		"data/multiqc_config.yaml"
	indexed_genome_path =		"data/reference_genomes/common_sputum_contaminants"


	//files to import
	sra =				"data/SRA.txt"

	fasta =			false		//zipped and none zipped + update channel fork
	fastq =			false
	bam =				false
	vcf =				false

	depth_norm =			50

	// Variant calling options
	variant_caller =		'freebayes' 	//supported values are 'gatk', 'samtools' and 'freebayes'
	contam_check =			'taxo_class'	//supported values are 'compet_mapping', 'taxo_class' and 'none'
	species =			'MTBC'		//'MTBC' or 'other'
	tree_build =			'none'		//'none', 'classic', 'fast', 'fastest'

	additional_variants =		[]		//in progress + add ISmapper
	RD =				false
	deletion_region =		false		//true/false flag
	insertion_sequence =		false

	taxonomy =			'barcode'	//'barcode' (default), 'placement' or 'none'

	//Kraken2 database option
	prebuilt_K2_DB =		'16G'		//'8G', '16G', 'none' // bracken built ?
	custom_K2_DB =			false
	download_K2_DB =		false
	//By-pass options
	FORCE =			'none'		//DOWNLOAD, TRIM, MAP, CALL, ANN
	SKIP =				'none'		//COVERAGE_CHECK, PROFILING


	//Files to keep
	KEEP =				[]		// files to keep / deleted (will be added later)
	keep_fastq =			true
	keep_raw_fastq =		true
	keep_trimmed_fastq =		true

	keep_bam =			true
	keep_BAM_RAW =			true
	keep_processed_bam =		true

	keep_vcf =			true

	keep_reports =			true
	keep_coverage =		true
	keep_metricsreports =		true

	lineageSNP =			"data/lineage_data/lineageSNP_tbprofiler.bed"

	outgroup =			false

	//file for phylogenetic placement
	// TODO : find a way to make the user check if these are good
	// TODO : you should find a way to share the reference alignement. wget ? smaller / better MSA ?
	referenceSNP =			"data/placement_file/reference_snp.bed"
	referenceMSA =			"data/placement_file/reference_msa.fasta"
	referenceTaxo =		"data/placement_file/reference_taxonomy.txt"
	referenceTree =		"data/placement_file/reference_tree.nwk"
	referenceModel =		"data/placement_file/reference_model.txt"
}

singularity {
	enabled =			true
	autoMounts =			false
	cacheDir =			"images"

}

report {
	enabled =			true
	file =				'reports/report.html'
}

process {
	errorStrategy =		'ignore'

	withLabel: sratoolkit {
		container =		'evolbioinfo/sratoolkit:v2.10.8'
		//Max number of CPU speeding up the download
		cpus =			'3'
	}

	withLabel: bbtools {
		//The bigger the target sequence, the more memory consuming
		memory =		'5G'
		cpus =			'1'

//		switched to oldest version because of a bug. Previous :
//		container = 'bryce911/bbtools:38.22'
		container =		'staphb/bbtools:latest'
	}

	withLabel: bbnorm {
		//The bigger the target sequence, the more memory consuming
		memory =		'3G'
		cpus =			'2'

		container =		'staphb/bbtools:latest'
	}

	withLabel: fastp {
		container =		'nanozoo/fastp:0.23.1--9f2e255'
		memory =		'3GB'
		cpus =			'3'
	}

	withLabel: kraken2 {
		container =		'nanozoo/kraken2:2.1.1--d5ded30'
		memory =		'16GB'
		cpus =			'3'
	}

	withLabel: bracken {
		container =		'nanozoo/bracken:2.8--dcb3e47'
		memory =		'10GB'
		cpus =			'1'
	}

	withLabel: bwa {
		container =		'blcdsdockerregistry/bwa-mem2_samtools-1.12:2.2.1'
		//container = 'dceoy/bwa-mem2:latest'
		memory =		'2GB'
		cpus =			'4'
	}

	withLabel: samtools {
		container =		'dceoy/samtools:latest'
		cpus =			'2'
	}

	withLabel: bedtools {
		container =		'staphb/bedtools:latest'
		cpus =			'1'
	}

	withLabel: bcftools {
		container =		'bschiffthaler/bcftools'
		cpus =			'2'
	}

	withLabel: GATK {
		container =		'broadinstitute/gatk:4.2.6.1'
		cpus =			'3'
	}

	withLabel: GATK_SPARK {
		container =		'broadinstitute/gatk:4.2.6.1'
		cpus =			'3'
		memory =		'6GB'
	}

	withLabel: elprep {
		container =		'dceoy/elprep:latest'
		cpus =			'4'
		memory =		'8GB'
	}

	withLabel: snpeff {
		container =		'dceoy/snpeff:latest'
		cpus =			'1'
	}

	withLabel: raxml {
		container =		'evolbioinfo/raxml-ng:v1.0.3'
		cpus =			'10'
	}

	withLabel: fasttree {
		cpus =			'10'
		container =		'staphb/fasttree:latest'
	}

	withLabel: epa {
		container =		'evolbioinfo/epa-ng:v0.3.8'
		cpus =			'2'
		memory =		'3GB'
	}

	withLabel: fastqc {
		container =		'nanozoo/fastqc:0.11.9--f61b8b4'
		memory =		'1GB'
		cpus =			'1'
	}

	withLabel: fastqscreen {
		container =		'abeaude/fastq_screen:0.14.0-0'
		memory =		'3GB'
		cpus = 		'2'
	}

	withLabel: multiqc {
		container =		'staphb/multiqc'
		cpus =			'1'
		memory =		'250MB'
	}

	withLabel: python {
		container =		'evolbioinfo/python:v3.8.2'
		cpus =			'1'
	}

	withLabel: pastml {
		cpus =			'5'
		container =		'evolbioinfo/pastml:latest'
	}

	withLabel: freebayes {
		cpus =			'2'
		container =		'niemasd/freebayes:latest'
	}
	
	withLabel: delly {
		cpus =			'2'
		container =		'talkowski/delly:latest'
	}

	withLabel: R {
		container =		'evolbioinfo/r-base:v4.0.2'
		cpus =			'1'
	}


}
